html {
  font-size: 10px;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Martel', serif;
  line-height: 1.5;
  color: #292929;
}

.layout-default {
  padding-top: 160px;
}

@media only screen and (max-device-width: 568px) {
  .layout-default {
    padding-top: 96px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Martel Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding-top: .5em;
}

pre, code {
  font-family: 'Fira Mono', monospace;
  font-size: 1.8rem;
}

a {
  text-decoration: underline;
  color: #143a40;
}

a:visited, a:hover, a:active {
  color: #48838d;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-transform: none;
}

header {
  background-color: #402c1a;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  min-height: 160px;
  z-index: 1030;
}

@media only screen and (max-device-width: 568px) {
  header {
    min-height: 96px;
  }
}

header .header-section {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  color: #d9ab85;
}

header .title .logo {
  box-sizing: content-box;
  flex-shrink: 1;
  padding: 1.6rem;
  height: 64px;
  width: 64px;
}

@media (min-device-width: 768px) {
  header .title .logo {
    height: 128px;
    width: 128px;
  }
}

header .title .logo a {
  text-indent: -1000px;
  display: block;
  height: 100%;
  width: 100%;
  background: url(//cldup.com/xFVFxOioAU.svg) 0 0 / contain no-repeat;
  padding: 0;
}

header .title .description {
  flex-shrink: 3;
  vertical-align: middle;
}

header .title .description > * {
  margin: 0;
  padding: 0;
}

header .title .description h2 {
  font-size: 1.6rem;
  text-align: justify;
  text-align-last: justify;
  max-width: 200px;
}

@media only screen and (max-device-width: 568px) {
  header .title .description {
    display: none;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

header .container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  justify-content: space-between;
}

.content {
  font-size: 1.6rem;
  padding: 2em;
}

.two-column li {
  list-style-type: none;
  display: block;
  border-bottom: 1px solid #d9ab85;
  padding-top: .5em;
}

.two-column {
  padding: 0;
}

@media (min-width: 768px) {
  .two-column {
    column-count: 2;
  }
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #402c1a;
}

#_backers a, #_sponsors a {
  opacity: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

#_backers a img, #_sponsors a img {
  max-height: 64px;
}

.onload h1, #_backers.onload a, #_sponsors.onload a {
  opacity: 1;
}

#tag {
  opacity: 0;
  color: #c29d7f;
  font-weight: 100;
  font-size: 3rem;
  margin-top: -155px;
  margin-left: 140px;
  margin-bottom: 125px;
  letter-spacing: 2px;
  -webkit-transition: opacity 1s, margin-top 200ms, margin-bottom 200ms, margin-left 1s;
  -moz-transition: opacity 1s, margin-top 200ms, margin-bottom 200ms, margin-left 1s;
  -o-transition: opacity 1s, margin-top 200ms, margin-bottom 200ms, margin-left 1s;
  transition: opacity 1s, margin-top 200ms, margin-bottom 200ms, margin-left 1s;
}

#tag em {
  font-style: normal
}

.onload #tag {
  opacity: 1;
  margin-left: 185px;
}

.content img {
  margin: 30px;
  padding: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 10px #dedede, 0 1px 5px #888;
  -moz-box-shadow: 0 3px 10px #dedede, 0 1px 5px #888;
  box-shadow: 0 3px 10px #dedede, 0 1px 5px #888;
  max-width: 100%;
}

img[src*="opencollective.com/mochajs"], img[src*=badges], img[src*=".svg"] {
    margin: 0;
    box-shadow: none;
}

footer {
  background-color: #eee;
  width: 100%;
  padding: 50px 0;
  text-align: right;
  border-top: 1px solid #ddd;
}

footer span {
  display: block;
  margin-right: 30px;
  color: #888;
  font-size: 0.8rem;
}

@media all and (max-width: 600px) {
  #tag {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .onload #tag {
    margin-left: 0;
  }
}

blockquote {
  font-size: 1.7rem;
}

pre {
  background-color: #f8f8f8;
  padding: .5em;
  border: 1px solid #f4f4f4;
  overflow-x: scroll;
}
