<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}{% if page.title %}} - {{ page.title }}{% endif %}</title>

  <link href="//fonts.googleapis.com/css?family=Fira+Mono|Martel+Sans:300|Martel:300" rel="stylesheet"/>
  <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet"/>
  <link href="{{ '/css/style.css' | absolute_url }}" rel="stylesheet"/>
  <link href="{{ '/css/pygments.css' | absolute_url }}" rel="stylesheet"/>
  <link href="{{ '/favicon.ico' | absolute_url }}" rel="shortcut icon"/>

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  <script async src="{{ '/js/ga.js' | absolute_url }}"></script>
  <script async src="{{ '/js/avatars.js' | absolute_url }}"></script>
</head>
