<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="css/normalize.min.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="css/pygments.css"/>
  <link rel="shortcut icon" href="favicon.ico"/>

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->
  <script>
    // dumb thing that helps with animation of avatars
    function avatars (type) {
      return function avatarLoaded () {
        avatars[type] = typeof avatars[type] === 'number' ? avatars[type] + 1 : 1;
        if (avatars[type] === 30) {
          document.getElementById(type).classList.add('onload');
        }
      }
    }
    avatars.backerLoaded = avatars('_backers');
    avatars.sponsorLoaded = avatars('_sponsors');
  </script>

  {% include ga.html %}
</head>
