<p class="intro">Mocha is a feature-rich JavaScript test framework running on <a href="https://nodejs.org" target="_blank">Node.js</a> and in the browser, making asynchronous testing <em>simple</em> and <em>fun</em>. Mocha tests run in serial, allowing for flexible and accurate reporting, while mapping uncaught exceptions to the correct test cases.</p>

<section class="badges">
  <a href="https://gitter.im/mochajs/mocha" target="_blank"><img src="//badges.gitter.im/Join%20Chat.svg" alt="Gitter"/></a>
  <a href="#backers"><img src="//opencollective.com/mochajs/backers/badge.svg" alt="Mocha's Backers"/></a>
  <a href="#sponsors" alt="Mocha's Sponsors"><img src="//opencollective.com/mochajs/sponsors/badge.svg"/></a>
</section>

{% include backers.md %}
{% include sponsors.md %}
